[submodule "cookbooks/apt"]
path = cookbooks/apt
url = git://github.com/opscode-cookbooks/apt.git

[submodule "cookbooks/apache2"]
path = cookbooks/apache2
url = git://github.com/opscode-cookbooks/apache2.git

[submodule "cookbooks/git"]
path = cookbooks/git
url = git://github.com/opscode-cookbooks/git.git

[submodule "cookbooks/users"]
path = cookbooks/users
url = git://github.com/opscode-cookbooks/users.git

[submodule "cookbooks/chef-solo-search"]
path = cookbooks/chef-solo-search
url = git://github.com/edelight/chef-solo-search.git

[submodule "cookbooks/build-essential"]
path = cookbooks/build-essential
url = git://github.com/opscode-cookbooks/build-essential.git

[submodule "cookbooks/vim"]
path = cookbooks/vim
url = git://github.com/opscode-cookbooks/vim.git

[submodule "cookbooks/postgresql"]
path = cookbooks/postgresql
url = git://github.com/lukasz-kaniowski/postgresql.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = git://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = git://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
